<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Добавление книги</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Добавление книги</h1>
<form action="/books/add" method="post">
    <input type="text" name="isbn" placeholder="Введите ISBN книги" class="form-control">
    <input type="text" name="name" placeholder="Введите название книги" class="form-control">
    <input type="text" name="author" placeholder="Введите ФИО автора книги (Иванов И.И.)" class="form-control">
    <select size="7">
        <option>DRAMA</option>
        <option>DETECTIVE</option>
        <option>COMEDY</option>
        <option>EDUCATION</option>
        <option>ADVENTURE</option>
        <option>COMEDY</option>
        <option>OTHER</option>
    </select>
    <button type="submit" class="btn-btn-success">Добавить книгу</button>
</form>
</body>
</html>